.getStartedDesktop {
  background: no-repeat url('../public/img/background.png');
  background-size: cover;
}
.signup {
  background: no-repeat url('../public/img/signupbg.png');
  /* background-size: cover; */
}
.link {
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  .walletContentMobile {
    display: none;
  }
  .walletContentDesktop {
    display: block;
  }
  .walletTopNavMobile {
    display: none;
  }
  .walletTopNavDesktop {
    display: block;
    margin: 0;
    padding: 0;
  }
  .btnStyles {
    width: 40%;
  }
  .getStarted {
    width: '375px';
  }
  .getStartedDesktop {
    height: 120vh;
  }
  .btnCreateAccount {
    width: 60%;
  }
  .signup {
    height: 120vh;
  }
  .link {
    width: 60%;
  }
}
@media screen and (max-width: 575px) {
  .walletContentMobile {
    display: block;
  }
  .walletContentDesktop {
    display: none;
  }
  .walletTopNavMobile {
    display: block;
  }
  .walletTopNavDesktop {
    display: none;
  }
  .mobileSidebar {
    display: block;
    position: absolute;
    width: 50vw;
    height: 100vh;
    background: #f8bb18;
    top: 100px;
    left: 0;
    padding: 20px;
  }
  .mobileSidebarNo {
    display: none;
  }
  .mobileSidebar_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .btnStyles {
    width: 100%;
  }
  .getStarted {
    width: '100%';
  }
  .getStartedDesktop {
    height: 130vh;
  }
  .btnCreateAccount {
    width: 100%;
  }
  .link {
    width: 100%;
  }
}
