@media screen and (min-width: 576px) {
  .walletContentMobile {
    display: none;
  }
  .walletContentDesktop {
    display: block;
  }
  .walletTopNavMobile {
    display: none;
  }
  .walletTopNavDesktop {
    display: block;
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 575px) {
  .walletContentMobile {
    display: block;
  }
  .walletContentDesktop {
    display: none;
  }
  .walletTopNavMobile {
    display: block;
  }
  .walletTopNavDesktop {
    display: none;
  }
  .mobileSidebar {
    display: block;
    position: absolute;
    width: 50vw;
    height: 100vh;
    background: #f8bb18;
    top: 100px;
    left: 0;
    padding: 20px;
  }
  .mobileSidebarNo {
    display: none;
  }
  .mobileSidebar_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
